
# notice, please keep .git in docker
# not add .git in here
# so we can get version info in docker container

venv
*.idea
*.log
*.debug
*__pycache__*
*.venv
*.tar*
*.zip
*.bz*
log/*
map/*
src/map/*

# Node.js
**/node_modules
**/frontend/node_modules
**/dist
**/frontend/dist
**/.npm
**/.cache
**/npm-debug.log*
**/yarn-debug.log*
**/yarn-error.log*
