
-i https://repo.westwell.cc/repository/cosmos-public/simple/

fastapi==0.115.2
pydantic==2.9.2
uvicorn[standard]==0.32.0
watchdog==6.0.0
ujson==5.10.0
numpy==2.1.3
scipy==1.15.2
shapely==2.1.0
pyyaml==6.0.2
aiodocker==0.25.0

chain_log==0.1.1
chain-utils==0.1.13
chain-model==0.1.1
chain-orm[postgres]==0.1.4
alembic==1.13.3
chain-redis==0.1.0
chain-websocket==0.2.3
chain-grpc==0.0.8
chain_http==0.0.6

lanelet2 @ http://10.3.8.35/py/lanelet2-1.2.2-cp313-cp313-manylinux_2_31_x86_64.whl
